.dashboard{
    padding: 15px;
    margin: 0;

}

.dashboard-title{
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
}

.tile-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.8rem;
    overflow: hidden;
    padding: 15px;
}

.tile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    height: 10vh;
    
}

.tile:hover{
    transform: translateY(-5px);
}

@media (max-width: 768px){
    .tile-container{
        grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    }
}